{% extends 'tem.html.twig' %}

{% block title %}Reponse index{% endblock %}

{% block body %}
    <h1>Reponse index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdReponse</th>
                <th>id reclamation</th>
                <th>Repo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reponse in reponses %}
            <tr>
                <td>{{ reponse.idReponse }}</td>
                <td>{{ reponse.idReclamation }}</td>
                <td>{{ reponse.repo }}</td>
                <td>
                    <a href="{{ path('app_reponse_show', {'idReponse': reponse.idReponse}) }}">show</a>
                    <a href="{{ path('app_reponse_edit', {'idReponse': reponse.idReponse}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reponse_new') }}">Create new</a>
{% endblock %}
