{% extends 'tem.html.twig' %}

{% block title %}Reponse{% endblock %}

{% block body %}
    <h1>Reponse</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdReponse</th>
                <td>{{ reponse.idReponse }}</td>
            </tr>
            <tr>
                <th>id reclamation</th>
                <td>{{ reponse.idReclamation }}</td>
            </tr>
            <tr>
                <th>Repo</th>
                <td>{{ reponse.repo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reponse_index') }}">back to list</a>

    <a href="{{ path('app_reponse_edit', {'idReponse': reponse.idReponse}) }}">edit</a>

    {{ include('reponse/_delete_form.html.twig') }}
{% endblock %}
