{% extends 'base.html.twig' %}

{% block title %}Ajouter un événement{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <h1 class="text-center mb-4">Ajouter un événement</h1>
                {{ form_start(form) }}
                <div class="form-container" style="text-align: left;">
                </div>

                <div class="form-group">
                    {{ form_label(form.titre, 'Titre de l\'événement') }}
                    {{ form_widget(form.titre, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le titre de l\'événement'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.description, 'Description de l\'événement') }}
                    {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Entrez une description de l\'événement'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.type, 'Type d\'événement') }}
                    {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.pays, 'Pays de l\'événement') }}
                    {{ form_widget(form.pays, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.debut, 'Date de début') }}
                    {{ form_widget(form.debut, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.fin, 'Date de fin') }}
                    {{ form_widget(form.fin, {'attr': {'class': 'form-control'}}) }}
                </div>
                
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Créer l'événement</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
