{% extends 'Admindachboard.html.twig' %}

{% block title %}Ajouter une Formation{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <h1 class="text-center mb-4">Ajouter une Formation</h1>
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.titre, 'Titre de formation') }}
                    {{ form_widget(form.titre, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le titre de formation'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.description, 'Description de formation') }}
                    {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Entrez une description de formation'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.type, 'Type de formation') }}
                    {{ form_widget(form.type, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le type de formation'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.pays, 'Pays ') }}
                    {{ form_widget(form.pays, {'attr': {'class': 'form-control', 'placeholder': 'Selectionne ton pays'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.debut, 'Date de début') }}
                    {{ form_widget(form.debut, {'attr': {'class': 'form-control', 'placeholder': 'Entrez la date début de la formation'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.fin, 'Date de fin') }}
                    {{ form_widget(form.fin, {'attr': {'class': 'form-control', 'placeholder': 'Entrez la date fin de la formation'}}) }}
                </div>
                
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Créer l'formation</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
