{% extends 'Admindachboard.html.twig' %}

{% block title %}liste formation{% endblock %}

{% block body %}
    <h1>Formation Index</h1>

    
      <div class="row">
        <form action="{{ path('app_formation_searchadmin') }}" method="get">
            <input type="text" name="titre">
            <input type="submit" value="recherche">
          </form>
          </div>


    <div class="row">

        {% for formation in formations %}
            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="card-header">{{ formation.titre }}</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ formation.type }}</h5>
                        <p class="card-text">{{ formation.description }}</p>
                        <p class="card-text">{{ formation.pays }}</p>
                        <p class="card-text">{{ formation.debut|date('Y-m-d') }} | {{ formation.fin|date('Y-m-d') }}</p>
                    </div>
                    <div class="card-footer">
                    <a href="{{
                          path(
                            'app_participationformation_add',
                            {
                              id: formation.id
                            }
                          )
                        }}" class="btn btn-danger mr-2">Participe</a>
                        <a href="{{
                          path(
                            'app_formation_updateadmin',
                            {
                              id: formation.id
                            }
                          )
                        }}" class="btn btn-primary">Edit</a>
                        <a href="{{
                          path(
                            'app_formation_deleteadmin',
                            {
                              id: formation.id
                            }
                          )
                        }}" class="btn btn-danger mr-2">Delete</a>
                        

                        
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
