{% extends 'Admindachboard.html.twig' %}

{% block title %}Reclamation
{% endblock %}

{% block body %}

	<div class="form-container" style="border: 1px solid #ccc; padding: 200px;">
		<center>
			<h1>Reclamation</h1>
			<div align="right">
				{% if reponse is not empty  %}
					<button id="popup-btn" class="button">la reponse pour votre Reclamation</button>

					<div id="popup-window"></br>
					<center>
						<p>{{reponse.repo}}</p>
					</center>
					<button id="close-btn" class="button">Fermer</button>
				</div>

			{% endif %}
		</div>
		<table class="table">
			<tbody>
				<tr>
					<th>Idreclamation</th>
					<td>{{ reclamation.idreclamation }}</td>
				</tr>
				<tr>
					<th>reclamateur</th>
					<td>{{ reclamation.idreclamateur }}</td>
				</tr>
				<tr>
					<th>Typereclamation</th>
					<td>{{ reclamation.typereclamation }}</td>
				</tr>
				<tr>
					<th>Contenu</th>
					<td>{{ reclamation.contenu }}</td>
				</tr>
				<tr>
					<th>Datepro</th>
					<td>{{ reclamation.datepro ? reclamation.datepro|date('Y-m-d') : '' }}</td>
				</tr>
			</tbody>
		</table>

		<a href="{{ path('app_reclamation_index') }}">back to list</a>

		<a href="{{ path('app_reclamation_edit', {'idreclamation': reclamation.idreclamation}) }}">edit</a>

		{{ include('reclamation/_delete_form.html.twig') }}

	</center>
</div>

<style>
	.button {
		appearance: none;
		background: #002147;
		border-radius: 0.25em;
		color: white;
		cursor: pointer;
		display: inline-block;
		font-weight: 500;
		height: 3em;
		line-height: 3em;
		padding: 0 1em;

		&:hover {
			background-color: lighten(#16a34a, 2%);
		}
	}
	#popup-window {
		background: #ffffff;
		border-radius: 0.5em;
		box-shadow: 0 10px 20px rgba(black, 0.2);

		position: fixed;
		top: 50px;
		right: -300px;
		width: 300px;
		height: 200px;
		background-color: white;
		border: 1px solid black;
		padding: 10px;
		transition: all 0.5s ease-out;
		display: flex;
		flex-direction: column;
	}

	#popup-window.open {
		right: 0;
	}

	#close-btn {
		position: absolute;
		bottom: 10px;
		right: 10px;
	}
</style>

<script>
	const popupBtn = document.getElementById('popup-btn');
const popupWindow = document.getElementById('popup-window');
const closeBtn = document.getElementById('close-btn');

popupBtn.addEventListener('click', function () {
popupWindow.classList.add('open');
});

closeBtn.addEventListener('click', function () {
popupWindow.classList.remove('open');
});
</script>{% endblock %}
