<!DOCTYPE html>
<html lang="en">
	<head>
		<meta
		http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<!-- Meta, title, CSS, favicons, etc. -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="images/favicon.ico" type="image/ico"/>

		<title>Gentelella Alela!</title>

		<!-- Bootstrap -->
		<link
		href="{{ asset('vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet"/>
		<!-- Font Awesome -->
		<link
		href="{{ asset('vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet"/>
		<!-- NProgress -->
		<link
		href="{{ asset('vendors/nprogress/nprogress.css') }}" rel="stylesheet"/>
		<!-- iCheck -->
		<link
		href="{{ asset('vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet"/>

		<!-- bootstrap-progressbar -->
		<link
		href="{{ asset('vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css') }}" rel="stylesheet"/>
		<!-- JQVMap -->
		<link
		href="{{ asset('vendors/jqvmap/dist/jqvmap.min.css') }}" rel="stylesheet"/>
		<!-- bootstrap-daterangepicker -->
		<link
		href="{{ asset('vendors/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet"/>

		<!-- Custom Theme Style -->
		<link href="{{ asset('build/css/custom.min.css') }}" rel="stylesheet"/>
		<style>
			.bn632-hover {
				width: 160px;
				font-size: 16px;
				font-weight: 600;
				color: #fff;
				cursor: pointer;
				margin: 20px;
				height: 55px;
				text-align: center;
				border: none;
				background-size: 300% 100%;
				border-radius: 50px;
				moz-transition: all 0.4s ease-in-out;
				-o-transition: all 0.4s ease-in-out;
				-webkit-transition: all 0.4s ease-in-out;
				transition: all 0.4s ease-in-out;
			}

			.bn632-hover:hover {
				background-position: 100% 0;
				moz-transition: all 0.4s ease-in-out;
				-o-transition: all 0.4s ease-in-out;
				-webkit-transition: all 0.4s ease-in-out;
				transition: all 0.4s ease-in-out;
			}

			.bn632-hover:focus {
				outline: none;
			}

			.bn632-hover.bn20 {
				background-image: linear-gradient(to right, #667eea, #764ba2, #6b8dd6, #8e37d7);
				box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
			}


			.btn12-hover {
				width: 160px;
				font-size: 16px;
				font-weight: 600;
				color: #fff;
				cursor: pointer;
				margin: 20px;
				height: 55px;
				text-align: center;
				border: none;
				background-size: 300% 100%;
				border-radius: 50px;
				moz-transition: all 0.4s ease-in-out;
				-o-transition: all 0.4s ease-in-out;
				-webkit-transition: all 0.4s ease-in-out;
				transition: all 0.4s ease-in-out;
			}

			.btn12-hover:hover {
				background-position: 100% 0;
				moz-transition: all 0.4s ease-in-out;
				-o-transition: all 0.4s ease-in-out;
				-webkit-transition: all 0.4s ease-in-out;
				transition: all 0.4s ease-in-out;
			}

			.btn12-hover:focus {
				outline: none;
			}

			.btn12-hover.bn19 {
				color: white;
				background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);
				box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
			}
		</style>
		{% block cssandthings %}{% endblock %}
		<!-- Custom Theme Style -->
		<link href="{{asset("../build/css/custom.min.css")}}" rel="stylesheet">
	</head>


	<body class="nav-md">
		<div class="container body">
			<div class="main_container">
				<div class="col-md-3 left_col">
					<div class="left_col scroll-view">


						<div class="clearfix"></div>

						<!-- menu profile quick info -->
						<div class="profile clearfix">
							<div class="profile_pic">
								<img src="{{ asset('images/img.jpg') }}" alt="..." class="img-circle profile_img">
							</div>
							<div class="profile_info">
								<span>Welcome,</span>
								<h2>John Doe</h2>
							</div>
						</div>
						<!-- /menu profile quick info -->

						<br/>

						<!-- sidebar menu -->
						<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
							<div class="menu_section">
								<h3>General</h3>
								<ul class="nav side-menu">
									<li>
										<a href="{{ path('app_user_index') }}">
											<i class="fa fa-home"></i>
											Users
										</a>

									</li>
									<li>
										<a href="{{ path('app_categorie_index') }}">
											<i class="fa fa-edit"></i>
											Products

										</a>

									</li>
									<ul>
										<li>
											<a href="#">
												gestion produit</a>
										</li>
										<li>
											<a href="{{ path('app_categorie_index') }}">Gestion categories</a>
										</li>
									</li>
								</ul>
								<li>
									<a href="{{ path('app_readadmin') }}">
										<i class="fa fa-desktop"></i>
										Events</a>
								</li>
								<li>
									<a href="{{ path( 'app_afficher', ) }}">
										<i class="fa fa-bar-chart-o"></i>Sponsor</a>

								</li>
								<li>
									<a href="{{ path('app_formation_readadmin2') }}">
										<i class="fa fa-table"></i>Formation</a>
								</li>

								<ul>

									<li>
										<a href="{{ path('app_formation_ajouteradmin') }}">
											<i class="fa fa-file"></i>
											Ajouter
										</a>
									</li>

									<li>
										<a href="{{path('app_formation_readadmin2')}}">
											<i class="fa fa-file"></i>Formation en attend</a>
									</li>
									<li>
										<a href="{{path('app_chart')}}">
											<i class="fa fa-file"></i>Graphique</a>
									</li>
								</ul>
								<li>
									<a href="{{path('app_commande')}}">
										<i class="fa fa-bar-chart-o"></i>
										commands
									</a>
									<ul class="submenu">
										<li>
											<a href="{{ path('app_commande')}} ">Gestion commande</a>
										</li>

									</ul>

								</li>
								<li>
									<a href="{{ path('app_reclamation_index') }}">
										<i class="fa fa-table"></i>gesttion reclamtion</a>
								</li>

								<ul>

									<li><ahref="{{path('app_reclamation_index')}}"><i class="fa fa-file"></i>Reclamtion</a></li>

									<li><ahref="{{path('app_reponse_index')}}"><i class="fa fa-file"></i>Reponse</a></li>
								</ul>


							</ul>
						</div>


					</div>
					<!-- /sidebar menu -->

					<div class="sidebar-footer hidden-small">
						<a href="{{ path('logout') }}" data-toggle="tooltip" data-placement="top" title="Logout">
							<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
						</a>
					</div>
				</div>
			</div>

			<div class="top_nav">
				<div class="nav_menu">
					<div class="nav toggle">
						<a id="menu_toggle">
							<i class="fa fa-bars"></i>
						</a>
					</div>
					<nav class="nav navbar-nav">
						<ul class="navbar-right">
							<li class="nav-item dropdown open" style="padding-left: 15px">
								<a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
									<img src="{{ asset('images/img.jpg') }}" alt=""/>John Doe
								</a>
								<div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="{{ path('app_profil_admin') }}">

										Profile</a>
									<a class="dropdown-item" href="javascript:;">
										<span class="badge bg-red pull-right">50%</span>
										<span>Settings</span>
									</a>
									<a class="dropdown-item" href="{{ path('app_user_new-for-admin') }}">

										<span>
											Create New User</span>
									</a>
									<a class="dropdown-item" href="javascript:;">Help</a>
									<a class="dropdown-item" href="{{ path('logout') }}">
										<i class="fa fa-sign-out pull-right"></i>
										Log Out</a>
								</div>
							</li>

							<li role="presentation" class="nav-item dropdown open">
								<a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
									<i class="fa fa-envelope-o"></i>
									<span class="badge bg-green">6</span>
								</a>
								<ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
									<li class="nav-item">
										<a class="dropdown-item">
											<span class="image"><img src="{{ asset('images/img.jpg') }}" alt="Profile Image"/></span>
											<span>
												<span>John Smith</span>
												<span class="time">3 mins ago</span>
											</span>
											<span class="message">
												Film festivals used to be do-or-die moments for movie
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																										                          makers. They were where...
											</span>
										</a>
									</li>
									<li class="nav-item">
										<a class="dropdown-item">
											<span class="image"><img src="{{ asset('images/img.jpg') }}" alt="Profile Image"/></span>
											<span>
												<span>John Smith</span>
												<span class="time">3 mins ago</span>
											</span>
											<span class="message">
												Film festivals used to be do-or-die moments for movie
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																										                          makers. They were where...
											</span>
										</a>
									</li>
									<li class="nav-item">
										<a class="dropdown-item">
											<span class="image"><img src="{{ asset('images/img.jpg') }}" alt="Profile Image"/></span>
											<span>
												<span>John Smith</span>
												<span class="time">3 mins ago</span>
											</span>
											<span class="message">
												Film festivals used to be do-or-die moments for movie
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																										                          makers. They were where...
											</span>
										</a>
									</li>
									<li class="nav-item">
										<a class="dropdown-item">
											<span class="image"><img src="{{ asset('images/img.jpg') }}" alt="Profile Image"/></span>
											<span>
												<span>John Smith</span>
												<span class="time">3 mins ago</span>
											</span>
											<span class="message">
												Film festivals used to be do-or-die moments for movie
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																										                          makers. They were where...
											</span>
										</a>
									</li>
									<li class="nav-item">
										<div class="text-center">
											<a class="dropdown-item">
												<strong>See All Alerts</strong>
												<i class="fa fa-angle-right"></i>
											</a>
										</div>
									</li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- /top navigation -->

			<!-- page content -->
			<div class="right_col" role="main">
				<div class="">
					<div class="page-title">
						<div class="title_left">
							<h3>Tables
								<small>Some examples to get you started</small>
							</h3>
							<button>
								<a href="{{ path('trier') }}">
									trier
								</button>
								<a></div>

								<div class="title_right">
									<div class="col-md-5 col-sm-5   form-group pull-right top_search">
										<div class="input-group">
											<input type="text" class="form-control" placeholder="Search for...">
											<span class="input-group-btn">
												<button class="btn btn-default" type="button">Go!</button>


											</span>
										</div>
									</div>
								</div>
							</div>


							<div class="clearfix"></div>


							<div class="col-md-6 col-sm-6  ">
								<div class="x_panel">
									<div class="x_title">

										<div class="clearfix"></div>
									</div>
									<div class="x_content"></div>
								</div>
							</div>

							<div class="clearfix"></div>

							<div class="col-md-12 col-sm-12  ">
								<div class="x_panel">
									<div class="x_title">
										<h2>Commande
											<small></small>
										</h2>
										<ul class="nav navbar-right panel_toolbox">
											<li>
												<a class="collapse-link">
													<i class="fa fa-chevron-up"></i>
												</a>
											</li>
											<li class="dropdown">
												<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
													<i class="fa fa-wrench"></i>
												</a>
												<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
													<a class="dropdown-item" href="#">Settings 1</a>
													<a class="dropdown-item" href="#">Settings 2</a>
												</div>
											</li>
											<li>
												<a class="close-link">
													<i class="fa fa-close"></i>
												</a>
											</li>
										</ul>
										<div class="clearfix"></div>
									</div>

									<div class="x_content">

										<p>Add class
											<code>bulk_action</code>
											to table for bulk actions options on row select</p>

										<div class="table-responsive">
											<table class="table table-striped jambo_table bulk_action">
												<thead>
													<tr class="headings">
														<th>
															<input type="checkbox" id="check-all" class="flat">
														</th>
														<th class="column-title">Idc
														</th>
														<th class="column-title">
															Date
														</th>
														<th class="column-title">Etat
														</th>
														<th class="column-title">Total
														</th>
														<th class="column-title no-link last">
															<span class="nobr">Supprimer</span>
														</th>
														<th class="column-title no-link last">
															<span class="nobr">modifier</span>
														</th>
														<th class="bulk-actions" colspan="7">
															<a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions (
																<span class="action-cnt"></span>
																)
																<i class="fa fa-chevron-down"></i>
															</a>
														</th>
													</tr>
												</thead>

												<tbody>


													{% for item in list %}
														<tr class="odd pointer">
															<td class="a-center ">
																<input type="checkbox" class="flat" name="table_records">
															</td>
															<td class=" ">{{ item.getIdc }}</td>
															<td class=" ">{{ item.getDate|date('Y-m-d ') }}
															</td>
															<td class=" ">{{item.getEtat}}</td>
															<td class=" ">${{item.getTotale}}</td>
															<td class=" last">
																<a href="{{ path('delete_commande', {'idc': item.getIdc}) }}">Supprimer</a>
															</td>
															<td class=" last">
																<a href="{{ path('modifier_commande', {'idc': item.getIdc}) }}">modifier
																</a>
															</td>
														</tr>
													{% endfor %}


												</tbody>
											</table>
										</div>


									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /page content -->

				<!-- footer content -->
				<footer>
					<div class="pull-right">
						Gentelella - Bootstrap Admin Template by
						<a href="https://colorlib.com">Colorlib</a>
					</div>
					<div class="clearfix"></div>
				</footer>
				<!-- /footer content -->
			</div>
		</div>

		<!-- jQuery -->
		<script src="../vendors/jquery/dist/jquery.min.js"></script>
		<!-- Bootstrap -->
		<script src="../vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<!-- FastClick -->
		<script src="../vendors/fastclick/lib/fastclick.js"></script>
		<!-- NProgress -->
		<script src="../vendors/nprogress/nprogress.js"></script>
		<!-- iCheck -->
		<script src="../vendors/iCheck/icheck.min.js"></script>

		<!-- Custom Theme Scripts -->
		<script src="../build/js/custom.min.js"></script>
	</body>
</html>
