{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="my-5">Ajouter un événement</h1>
        <div class="row">
            <div class="col-md-6">
                {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_label(form.nom, 'Nom de l\'événement') }}
                        {{ form_widget(form.nom, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.description, 'Description') }}
                        {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.lieu, 'Lieu') }}
                        {{ form_widget(form.lieu, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.prix, 'Prix') }}
                        {{ form_widget(form.prix, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                    {{ form_label(form.date, 'Date', {'label_attr': {'class': 'font-weight-bold'}}) }}
                    {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
                </div>
                    <div class="form-group">
                        {{ form_label(form.nbParticipants, 'Nombre de participants') }}
                        {{ form_widget(form.nbParticipants, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.typeEvenement, 'Type d\'événement') }}
                        {{ form_widget(form.typeEvenement, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <button type="submit" class="btn btn-primary">Créer</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
