{% extends 'Admindachboard.html.twig' %}



{% block body %}

{% for message in app.session.getFlashBag.get('success') %}
  <br>
  <br>
  <div class="container position-fixed top-505 start-505 translate-middle" style="width:300px;">
    <div class="alert alert-success text-center" role="alert" style="background-color: #28a745; border-color: #28a745; color: #fff; border-radius: .25rem;">
      {{ message }}
    </div>
  </div>

  <script>
    setTimeout(function() {
        document.querySelector('.alert-success').remove();
    }, 3000);
  </script>
{% endfor %}





  <h1><left>Evennement liste </left><div class="text-right">
    <a href="{{ path('app_event_createadmin') }}" class="btn btn-primary">Ajouter événement</a>
</div></h1>



{% block bodyy %}
 
<form action="{{ path('app_liste_ordonne') }}" method="get">
    <input type="text" name="nom">
    <input type="submit" value="recherche">
</form>
<br>
<br>
 
{% endblock %}



  <div class="row">
    {% for evennement in form %}
      <div class="col-md-3 mb-3">
      <div class="card event-card">
        <div class="card img-item">
        <img src="img/OIP.jpg"/>
          <div class="card-header">{{ evennement.nom }}</div>
          <div class="card-body">
            <h5 class="card-title">{{ evennement.description }}</h5>
            <p class="card-text">{{ evennement.lieu }}</p>
            <p class="card-text">{{ evennement.prix }}</p>
            <p class="card-text">{{ evennement.date|date('Y-m-d') }}</p>
            <p class="card-text">{{ evennement.nbParticipants }}</p>

            <p class="card-text">{{ evennement.typeEvenement }}</p>
{% if evennement.sponsor is not null %}
    <p class="card-text">{{ evennement.sponsor.nom }}</p>
  {% endif %}
          </div>
         
          </div>
           <div class="card-footer">
            <a href="{{ path('app_event_deleteadmin', {id: evennement.id}) }}" class="btn btn-danger mr-2">Supprimer</a>
            <a href="{{ path('app_evennement_editadmin', {id: evennement.id}) }}" class="btn btn-primary">Modifier</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}

