{% extends 'base.html.twig' %}



{% block body %}
 
<form action="{{ path('app_liste_ordonnee') }}" method="get">
 <h3><left>Evennement liste </left>
 
</h3>
    <div class="text-right">
        <input type="text" name="nom">
<input type="submit" value="recherche" class="btn btn-danger mr-2 ">
    </div>
    
</form>


  <div class="row">
    {% for evennement in form %}
      <div class="col-md-3 mb-3">
      <div class="card event-card">
        <div class="card img-item">
        <img src="img/OIP.jpg"/>
          <div class="card-header">{{ evennement.nom }}</div>
          <div class="card-body">
            <h5 class="card-title">{{ evennement.description }}</h5>
            <p class="card-text">{{ evennement.lieu }}</p>
            <p class="card-text">{{ evennement.prix }}</p>
            <p class="card-text">{{ evennement.date|date('Y-m-d') }}</p>
            <p class="card-text">{{ evennement.nbParticipants }}</p>

            <p class="card-text">{{ evennement.typeEvenement }}</p>
            {% if evennement.sponsor is not null %}
    <p class="card-text">{{ evennement.sponsor.nom }}</p>
  {% endif %}
            
          </div>
          <div class="card-footer">
            <a href="{{
              path(
                'app_event_delete',
                {
                  id: evennement.id
                }
              )
            }}" class="btn btn-danger mr-2">Delete</a>
            <a href="{{
              path(
                'app_part',
                {
                  id: evennement.id
                }
              )
            }}" class="btn btn-primary">participer</a>
          </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}

