{% extends 'Admindachboard.html.twig' %}

{% block cssandthings %}

	<style>
		.bn632-hover {
			width: 160px;
			font-size: 16px;
			font-weight: 600;
			color: #fff;
			cursor: pointer;
			margin: 20px;
			height: 55px;
			text-align: center;
			border: none;
			background-size: 300% 100%;
			border-radius: 50px;
			moz-transition: all 0.4s ease-in-out;
			-o-transition: all 0.4s ease-in-out;
			-webkit-transition: all 0.4s ease-in-out;
			transition: all 0.4s ease-in-out;
		}

		.bn632-hover:hover {
			background-position: 100% 0;
			moz-transition: all 0.4s ease-in-out;
			-o-transition: all 0.4s ease-in-out;
			-webkit-transition: all 0.4s ease-in-out;
			transition: all 0.4s ease-in-out;
		}

		.bn632-hover:focus {
			outline: none;
		}

		.bn632-hover.bn20 {
			background-image: linear-gradient(to right, #667eea, #764ba2, #6b8dd6, #8e37d7);
			box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
		}


		.btn12-hover {
			width: 160px;
			font-size: 16px;
			font-weight: 600;
			color: #fff;
			cursor: pointer;
			margin: 20px;
			height: 55px;
			text-align: center;
			border: none;
			background-size: 300% 100%;
			border-radius: 50px;
			moz-transition: all 0.4s ease-in-out;
			-o-transition: all 0.4s ease-in-out;
			-webkit-transition: all 0.4s ease-in-out;
			transition: all 0.4s ease-in-out;
		}

		.btn12-hover:hover {
			background-position: 100% 0;
			moz-transition: all 0.4s ease-in-out;
			-o-transition: all 0.4s ease-in-out;
			-webkit-transition: all 0.4s ease-in-out;
			transition: all 0.4s ease-in-out;
		}

		.btn12-hover:focus {
			outline: none;
		}

		.btn12-hover.bn19 {
			background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);
			box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
		}
	</style>
{% endblock %}
{% block body %}

	<div class="container">

		<div class="row" style="display: flex; justify-content: center;align-items: center;">
			<div class="col-md-6">

				{{ form_start(form) }}
				<div class="form-group">
					{{ form_label(form.Nom, 'votre nom') }}
					{{ form_widget(form.Nom, { 'attr': {'class': 'form-control'} }) }}
					{{ form_errors(form.Nom) }}
				</div>
				<div class="form-group">
					{{ form_label(form.Prenom, 'votre prenom') }}
					{{ form_widget(form.Prenom, { 'attr': {'class': 'form-control'} }) }}
					{{ form_errors(form.Prenom) }}
				</div>
				<div class="form-group">
					{{ form_label(form.Email, 'votre Email') }}
					{{ form_widget(form.Email, { 'attr': {'class': 'form-control'} }) }}
					{{ form_errors(form.Email) }}
				</div>
				<div class="form-group">
					{{ form_label(form.password, 'votre password') }}
					{{ form_widget(form.password, { 'attr': {'class': 'form-control'} }) }}
					{{ form_errors(form.password) }}
				</div>
				<div class="form-group"></div>
				<div class="form-group">
					{{ form_label(form.Type, 'account type') }}
					{{ form_widget(form.Type, { 'attr': {'class': 'form-control'} }) }}
					{{ form_errors(form.Type) }}

				</div>

				<div class="form-group" style=" display: flex;flex-direction: row;justify-content: center; align-items: flex-start;">
					{{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
					{{ include('user/_delete_form.html.twig') }}
				</div>

				{{ form_end(form, {'render_reset': false }) }}
			</div>
		</div>
	</div>{# {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
																																						
																																						
																																						
																																						
																																							{{ include('user/_delete_form.html.twig') }}</div> #}{% endblock %}
