<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>E Store - eCommerce HTML Template</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
		<meta content="eCommerce HTML Template Free Download" name="keywords"/>
		<meta content="eCommerce HTML Template Free Download" name="description"/>

		<link
		href="{{asset("img/favicon.ico")}}" rel="icon"/>

		<!-- Google Fonts -->
		<link
		href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet"/>

		<!-- CSS Libraries -->
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"/>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet"/>
		<link href="{{asset("lib/slick/slick.css")}}" rel="stylesheet"/>
		<link href="{{asset("lib/slick/slick-theme.css")}}" rel="stylesheet"/> {% block cssandthings %}{% endblock %}
		<!-- Template Stylesheet -->
		<link href="{{asset("css/style.css")}}" rel="stylesheet"/></head>
	<style>
		.card1 {
			display: flex;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
			transition: 0.3s; /* width: 70%; */
			flex-direction: column;
			flex-wrap: wrap;
			align-content: center;
			justify-content: space-evenly;
			align-items: center;
		}
		.card1:hover {
			box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
		}
	</style>
</html></head><body>
{{ form_start(form) }}
<div class="container ">
	<h1 class="my-5" style="text-align: center;">welcome</h1>
	<div class="card1">
		<img style="width:50%; display: block; margin-left: auto;margin-right: auto;" src="{{ asset('img/culiterwave.png') }}"/>
		{{ form_start(form) }}
		<div class="form-group" style="width: 30%; display: flex; align-content: space-between; flex-direction: column; justify-content: center; align-items: center;">
			{{ form_label(form.email, 'votre Email') }}
			{{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
			{{ form_errors(form.email) }}
		</div>
		{{ include('user/_form.html.twig', {'button_label': 'Send Email'}) }}
	</div>

</div>
{{ form_end(form, {'render_reset': false }) }}
<!-- JavaScript Libraries -->
<link href="{{ asset('img/favicon.ico') }}" rel="icon"/><script src="{{ asset('https://code.jquery.com/jquery-3.4.1.min.js') }}"></script>
<script src="{{ asset('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('lib/easing/easing.min.js') }}"></script>
<script src="{{ asset('lib/slick/slick.min.js') }}"></script>
<script src="{{ asset('js/main.js') }}"></script></body></html>
