{% extends 'Admindachboard.html.twig' %}
{% block cssandthings %}
	<style>
		.btnnn {
			display: flex;
			align-items: center;
			background: none;
			border: 1px solid #bdbdbd;
			height: 48px;
			padding: 0 24px 0 16px;
			letter-spacing: 0.25px;
			border-radius: 24px;
			cursor: pointer;
		}
		.btnnn:focus {
			outline: none;
		}
		.btnnn .mdi {
			margin-right: 8px;
		}
		.btnnn-delete {
			font-size: 16px;
			color: red;
		}
		.btnnn-delete > .mdi-delete-empty {
			display: none;
		}
		.btnnn-delete:hover {
			background-color: #fff5f5;
		}
		.btnnn-delete:hover > .mdi-delete-empty {
			display: block;
		}
		.btnnn-delete:hover > .mdi-delete {
			display: none;
		}
		.btnnn-delete:focus {
			box-shadow: 0 0 0 4px #fcc;
		}
	</style>
	<link href="{{asset("cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css")}}">
	<link
	href="{{asset("../vendors/bootstrap/dist/css/bootstrap.min.css")}}" rel="stylesheet">
	<!-- Font Awesome -->
	<link
	href="{{asset("../vendors/font-awesome/css/font-awesome.min.css")}}" rel="stylesheet">
	<!-- NProgress -->
	<link
	href="{{asset("../vendors/nprogress/nprogress.css")}}" rel="stylesheet">
	<!-- iCheck -->
	<link
	href="{{asset("../vendors/iCheck/skins/flat/green.css")}}" rel="stylesheet">
	<!-- Datatables -->

	<link href="{{asset("../vendors/datatables.net-bs/css/dataTables.bootstrap.min.css")}}" rel="stylesheet">
	<link href="{{asset("../vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css")}}" rel="stylesheet">
	<link href="{{asset("../vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css")}}" rel="stylesheet">
	<link href="{{asset("../vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css")}}" rel="stylesheet">
	<link
	href="{{asset("../vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css")}}" rel="stylesheet">

	<!-- Custom Theme Style -->
	<link href="{{asset("../build/css/custom.min.css")}}" rel="stylesheet">
{% endblock %}
{% block title %}User index
{% endblock %}

{% block body %}
	{# <h1>{{user1}}</h1> #}
	<div class="text-right">
		<form action="{{ path('app_rechercher') }}" method="GET">
			<input type="text" name="nom">
			<input type="submit" value="Rechercher" class="btn btn-danger mr-2" style="background-color:#8DD3BB;">
		</form>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12 ">
			<div class="x_panel">
				<div class="x_title">

					<ul class="nav navbar-right panel_toolbox">
						<li>
							<a class="collapse-link">
								<i class="fa fa-chevron-up"></i>
							</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
								<i class="fa fa-wrench"></i>
							</a>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="#">Settings 1</a>
								<a class="dropdown-item" href="#">Settings 2</a>
							</div>
						</li>
						<li>
							<a class="close-link">
								<i class="fa fa-close"></i>
							</a>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div class="row">
						<div class="col-sm-12">
							<div class="card-box table-responsive">
								<h5>Rechercher :

									<input type="text" id="searchInput" placeholder="Rechercher"></h5>

								<table id="myTable" class="table table-striped table-bordered" style="width:100%">
									<thead>


										<tr>
											<th>Nom</th>
											<th>Prenom</th>
											<th>Email</th>
											<th>Type</th>
											<th>IsActive</th>
											<th>actions</th>
										</tr>
									</thead>


									<tbody id="tableBody">


										{% for user in users %}
											<tr>

												<td>
													<span>{{ user.Nom }}</span>
												</td>
												<td>
													<span>{{ user.Prenom }}</span>
												</td>
												<td>
													<span>{{ user.Email }}</span>
												</td>

												<td>
													<span>{{ user.Type }}</span>
												</td>
												<td>
													<span>{{ user.isActive }}</span>
												</td>
												<td style="display:flex; width:40%;">
													{{ include('user/desactive.html.twig') }}
													{{ include('user/_delete_form.html.twig') }}

												</td>
											</tr>
										{% else %}
											<tr>
												<td colspan="8">no records found</td>
											</tr>
										{% endfor %}
									</tbody>

								</table>
								{{ knp_pagination_render(users) }}

							</div>
						</div>
					</div>
				</div>

				<script>
					// Get the input field and table body
var input = document.getElementById("searchInput");
var tableBody = document.getElementById("tableBody");

// Add event listener to input field
input.addEventListener("keyup", function () { // Get the user input and convert to lowercase
var filter = input.value.toLowerCase();

// Loop through all table rows and hide those that do not match the filter
for (var i = 0; i < tableBody.rows.length; i++) {
var row = tableBody.rows[i];
var nom = row.cells[0].getElementsByTagName("span")[0];
var prenom = row.cells[1].getElementsByTagName("span")[0];
var email = row.cells[2].getElementsByTagName("span")[0];

if (nom.innerHTML.toLowerCase().indexOf(filter) > -1 || prenom.innerHTML.toLowerCase().indexOf(filter) > -1 || email.innerHTML.toLowerCase().indexOf(filter) > -1) {
row.style.display = "";
} else {
row.style.display = "none";
}
}
});
				</script>
			{% endblock %}
